html {
    scroll-behavior: smooth;
}
body{
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
}
.theme{
    color: #975c35;
}
.bg-theme{
    background-color: #975c35;
}
.hero-text{
    margin-top: 150px !important; 
}
.img-hero{
    width: 500px !important;
}
.bigger{
    font-size: 58px;
}
.big-title{
    font-size: 55px;
    margin-top: 40px;
}
.about-title{
    padding: 0 !important;
    margin: 0 !important;
}
.about-me-underline{
    text-decoration: underline;
    /* width: 10%; */
}
.material-icons.icons{
    font-size: 3rem;
}
.btn-theme{
    background-color: #975c35;
    color: white;
}
.btn-theme:hover{
    color: white;
    background-color: #975c35;
    box-shadow: 0px 2px 6px #975c35;
    transition: 0.3s ease-in-out;
}
.form-control:focus {
    border-color: #975c35 !important;
    outline: none !important; 
    box-shadow: 0 0 5px #975c35 !important; 
}
.service-card h6{
    font-size: 17.5px !important;
}
.service-card h4{
    font-weight: bold !important;
    font-size: 20px;
}
.contact-section{
    margin-bottom: 100px;
}
@media screen and (max-width: 767px) {
    body{
        padding-top: 0px;
        margin-top: 0px;
        font-family: 'Poppins', sans-serif;
    }
    .bigger{
        font-size: 2.5rem;
    }
    .hero-text{
        margin-top: 120px !important; 
        text-align: center;
    }
    .img-hero{
        width: 300px !important;
        text-align: center;
    }
    .img-about{
        text-align: center;
    }
    .img-mail{
        width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .img-md, .img-hero {
        max-width: 350px; /* Adjust this value as needed */
        margin-top: 80px;
    }
    .about-title.bigger{
        font-size: 2rem;
    }
}